#item1 {
    grid-area: gk;
 
 
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;
}

#item2 {
    grid-area: rb;
 
 
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;}

#item3 {
    grid-area: lb;
 

 

 background-image: url('../img/badge_gold.webp');
 background-size: contain;
 background-repeat: no-repeat;}

#item4 {
    grid-area: cmr;
     
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;
}

#item5 {
    grid-area: cml; 
    
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;
 

}

#item6 {
     
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;
    grid-area: dm;
 }

#item7 {
    grid-area: rw; 
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;
 }

#item8 {
    grid-area: lw; 
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;
 }

#item9 {
    grid-area: cf;
 
 
 background-image: url('../img/badge_gold.webp');
 background-size: contain;
 background-repeat: no-repeat;
}


#item10 {
    grid-area: cb1;
  
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;
}

#item11 {
    grid-area: cb2; 
background-image: url('../img/badge_gold.webp');
background-size: contain;
background-repeat: no-repeat;
 }

#terain{

    background: fixed;


}
.is-dragging {
    opacity: 0.5;  
    transition: opacity 0.2s ease;
  }
#container {
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    gap: 0px 0px;
    grid-auto-flow: row;

    grid-template-areas:
 ". . gk . ."
". cb1 . cb2 ."
"lb . . . rb"
". . dm . ."
"cml . . . cmr"
"lw . cf . rw";
}

